ImageProcessingV1/Debug
ImageProcessingV1/ImageProcessingV1/Debug
ImageProcessingV1/Tests/Debug
ImageProcessingV1/.vs
ImageProcessingV1/ImageProcessingV1/x64
ImageProcessingV1/Tests/x64
ImageProcessingV1/x64
*.jpg
*.bmp
*.png